  <h1>Welcome <%= current_user.fname %> <%= current_user.lname %>!!!</h1>


  <form class="" action="<%= session_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="delete">
    <button>Log Out</button>
  </form>
<main id="root">
</main>
