.action-bar {
  border-bottom: 1px solid #e5e5e5;
  padding: 9px 0;
}

.action-bar .button-group {
  margin: 0 10px 0 0;
  border-radius: 2px;
  border: 1px solid #e5e5e5;
  background: #f4f4f4;
}

.action-bar .left-buttons {
  float: left;
}

.action-bar .mid-buttons {
  float: left;
}

.action-bar .right-buttons {
  float: right;
  margin-right: 60px;
}

.action-bar .button {
  font-size: 14px;
  width: 100px;
  font-size: 12px;
  text-align: center;
  padding: 5px 0;
  float: left;
  border-left: 1px solid #e5e5e5;
}

.action-bar .button:first-child {
  border-left: 0;
}

.action-bar .button:hover {
  background: #f6f6f6;
}

.action-bar .button:active {
  background: #f2f2f2;
}

.action-bar .right-buttons .button {
  width: 36px;
  margin: 4px, 0;
  font-size: 21px;
  margin:0;
  padding: 4px 0;
  display: block;
}

.action-bar .page-message {
  float: right;
  padding: 4px 0;
  margin-right: 20px;
  font-size: 12.8px;
}

.action-bar em {
  padding: 5px;
  font-weight: bold;
  font-style: normal;
}

.action-bar .disabled {
  color: #a5a5a5;
}

.action-bar .actionbar-dropdown-button i{
  font-size: 16px;
  color: #9f9f9f;
}

.actionbar-dropdown-button:hover i {
  color: #686868;
}

.actionbar-dropdown-button {
  position: relative;
}

.actionbar-dropdown-button-expanded {
  position: relative;                             
  background: #dcdcdc !important;
}

.actionbar-dropdown-button-expanded i.fa{
  font-size: 16px;
  color: #686868;
}

.actionbar-dropdown-list {
  position: absolute;
  z-index: 10;
  background: #ffffff;
  top: 28px;
  border: 1px solid #e5e5e5;
  left: 0px;
  width: 200px;
  padding: 8px 0;
}

.action-dropdown-item {
  cursor: pointer;
  padding: 2px 0 2px 20px;
  text-align: left;
}

.action-dropdown-item:hover {
  background: #eeeeee;
}


.below-action-bar {
  overflow: scroll;
  height: calc(100% - 50px);
  width: 100%;
}