.logo {
  padding: 12px 55px 15px 25px ;
  float: left;
  font-size: 24px;
  font-weight: normal;
  color: rgb(65, 137, 248);
}

.logo > *{
  display: inline;
  cursor: default;
}

.logo > p{
  color: rgb(65, 137, 248);
  color: rgb(232, 70, 48);
}

.logo > em{
  font-style: normal;
  color: rgb(58, 166, 76);
}

.logo > div{
  color: rgb(251, 187, 0);
}

.flash {
  position: absolute;
  z-index: 10;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(248, 235, 192);
  border: 1px solid rgb(234, 193, 117);
  font-weight: 700;
  padding: 10px;
  color: #000;
}

.search-bar {
    padding: 15px 55px 15px 0 ;
    float: left;
    font-size: 16px;
}

.search-input {
  font-size: 16px;
  font-family: arial, sans-serif;
  padding: 4px 8px;
  width: 570px;
  float: left;
  display: block;
}

i.search-button {
  color: #fff;
  background: rgb(68, 136, 245);
  padding: 6.5px 22.1px;
  float: left;
  display: block;
  margin: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  cursor: pointer;
}

i.search-button:hover {
  background: rgb(70, 138, 248);
}

i.search-button:active {
  background: rgb(62, 123, 224);
}

.profile-container {
  display: block;
  height: 34px;
  position: relative;
  float: right;
  margin: 12px 25px;
  padding: 0 3px;
}

.profile-pic {
  border-radius: 50%;
  cursor: pointer;
}

div.user-detail-window {
  position: absolute;
  height: 190px;
  width: 320px;
  box-sizing: border-box;
  background: #ffffff;
  right: 30px;
  top: 59px;
  z-index: 7;
  border: solid 1px #cccccc;
  padding: 20px 20px 0 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px 0px;
}

div.user-detail-window:before {
  content: "";
  display: block;
  position: absolute;
  top:-22px;
  right: 3.5px;
  border: 11px solid;
  border-color: transparent transparent #cccccc transparent;
  z-index: 7;
}

div.user-detail-window:after {
  content: "";
  display: block;
  position: absolute;
  top:-20px;
  right: 3.5px;
  border: 11px solid;
  border-color: transparent transparent #ffffff transparent;
  z-index: 7;
}

.profile-container-detail {
  display: block;
  height: 96px;
  position: relative;
  float: left;
  margin: 0;
  padding: 0 3px;
}

.profile-pic-detail {
  border-radius: 50%;
}

.user-details {
  float: left;
  margin: 0 0 0 15px;
  font-size: 12.8px;
}

.user-details p {
  margin: 0;
}

.user-details .user-name {
  font-weight: bold;
}

.user-details .user-email {
  color: #666666;
}

.user-detail-footer {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #c4c4c4;
  padding: 10px 0;
  background: #f5f5f5;
}

.user-detail-footer .button {
  color: #666666;
  float: left;
  margin: 0 20px;
  padding: 5px 12px;
  border: 1px solid #c6c6c6;
  border-radius: 2px;
  font-size: 13px;
}

.user-detail-footer .logout-button {
  float: right;
}
