// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.searchbar {
  display: block;
  height: 60px;
}

.sidebar {
  float: left;
  display: block;
  width: 202px;
}

.content {
  float: left;
  display: block;
  width: calc(100% - 216px);
  padding: 0 14px 0 0;
}

.conversation-list-item {
  font-size: 12.8px;
  font-family: arial, sans-serif;
  border-bottom: 1px solid #e5e5e5;
  padding: 7px 0;
  background: #f4f4f4;
}

.conversation-list-item.selected {
  background: #fffec9
}

.conversation-list-item.unread {
  background: #ffffff;
}

.conversation-list-item .addresses {
  display: block;
  padding: 0 6px 0 10px;
  width: 184px;
}

.conversation-list-item > *{
  float: left
}

.conversation-list-item .timestamp{
  float: right
}
