// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.searchbar {
  display: block;
  height: 60px;
  background: #f1f1f1;
}

.sidebar {
  float: left;
  display: block;
  width: 202px;
}

.content {
  float: left;
  display: block;
  width: calc(100% - 216px);
  padding: 0 14px 0 0;
  overflow: scroll;
  height: 100%;
  min-height: 640px;

}

.conversation-list-item {
  font-size: 12.8px;
  font-family: arial, sans-serif;
  border-bottom: 1px solid #e5e5e5;
  background: #f4f4f4;
  position: relative;
  white-space: nowrap;
  padding: 7px 0;
  overflow-x: hidden;  
}

.conversation-list-item.selected {
  background: #fffec9
}

.conversation-list-item.unread {
  background: #ffffff;
}

.conversation-list-item .addresses {
  padding: 0 6px 0 10px;
  width: 184px;
  overflow-x: hidden;
}

.conversation-list-item > *{
  display: inline;
}

.conversation-list-item  .body-preview {
  color: #777777;
}

.conversation-list-item .timestamp{
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px 20px;
  background:inherit;
  width: 80px;
  text-align: right;
}
