// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.app {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.searchbar {
  display: block;
  height: 59px;
  background: #f1f1f1;
  border-bottom: solid 1px #e5e5e5;
  overflow-y: hidden;
}

.sidebar {
  float: left;
  display: block;
  width: 202px;
}

.below-search-bar {
  height: calc(100% - 60px);
}

.content {
  float: left;
  display: block;
  width: calc(100% - 216px);
  padding: 0 14px 0 0;
  overflow: scroll;
  height: 100%;
}
